<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio aut explicabo omnis animi repellendus quia adipisci. Nam reprehenderit, quos, modi sunt voluptas explicabo neque delectus minima, ipsa eveniet fugiat fuga!</p>
    <img src="https://images.unsplash.com/photo-1661347333354-80a3cb5440d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=1400&q=60" alt="">
</body>
</html>